[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/cmake-modules"]
	path = external/cmake-modules
	url = ../../viaduck/cmake-modules.git
